<p id="notice"><%= notice %></p>
<h1><strong>Search Results</strong></h1>

<% if @posts.any? %>
<h2><%= t('posts.show.title') %></h2>
  <tbody>
    <% @posts.each do |post| %>
      <div class="card bg-light mt-3">
      <div class="card-body">
        <h3 class="card-title"><strong> <%= link_to post.title, post %> </strong></h3>
        <p class="card-text">
          <span class="postpreview">
          <%= truncate(Sanitize.fragment( post.content), length: 100) %>
          </span>
        </p>
      </div>
      </div>
    </tbody>
    <% end %>
<% end %>
	<br>
<% if @attractions.any? %>
<h2><%= t('attractions.show.title') %></h2>
  <tbody>
    <% @attractions.each do |attraction| %>
        <div class="card bg-light mt-3">
      	<div class="card-body">
        <h3 class="card-title"><strong><%= link_to attraction.name, attraction %></strong></h3>
        <p class="card-text">
          <span class="postpreview">
          <td><%= attraction.localName %></td>
          </span>
          <br>
          <%= truncate(Sanitize.fragment( attraction.intro), length: 100) %>
          <%= truncate(Sanitize.fragment( attraction.content), length: 100) %>
        </p>
        </div>
      	</div>
    <% end %>
  	</tbody>
	<br>
<% end %>
<% if @cities.any? %>
<h2><%= t('cities.show.title') %></h2>
  <tbody>
    <% @cities.each do |city| %>
        <div class="card bg-light mt-3">
      	<div class="card-body">
        <h3 class="card-title"><strong><%= link_to city.name, city %></strong></h3>
        <p class="card-text">
          <span class="postpreview">
          <td><%= city.localName %></td>
          </span>
          <br>
          <%= truncate(Sanitize.fragment( city.intro), length: 100) %>
          <%= truncate(Sanitize.fragment( city.content), length: 100) %>
        </p>
        </div>
      	</div>
    <% end %>
  	</tbody>
	<br>
<% end %>
<% if @regions.any? %>
<h2><%= t('regions.show.title') %></h2>
  <tbody>
    <% @regions.each do |region| %>
        <div class="card bg-light mt-3">
      	<div class="card-body">
        <h3 class="card-title"><strong><%= link_to region.name, region %></strong></h3>
        <p class="card-text">
          <span class="postpreview">
          <td><%= region.localName %></td>
          </span>
          <br>
          <%= truncate(Sanitize.fragment( region.intro), length: 100) %>
          <%= truncate(Sanitize.fragment( region.content), length: 100) %>
        </p>
        </div>
      	</div>
    <% end %>
<% if @itineraries.any? %>
<h2><%= t('itineraries.show.title') %></h2>
  <tbody>
    <% @itineraries.each do |itinerary| %>
        <div class="card bg-light mt-3">
        <div class="card-body">
        <h3 class="card-title"><strong><%= link_to itinerary.name, itinerary %></strong></h3>
        <p class="card-text">
          <br>
          <%= truncate(Sanitize.fragment( itinerary.content), length: 100) %>
        </p>
        </div>
        </div>
    <% end %>
    </tbody>
  <br>
<% end %>
  	</tbody>	
  	<br>
<% end %>