<p>
	<li>Day: <%= daily.daynumber %> | Date: <%= daily.dailydate.try(:strftime, '%v') %> </li>
	<% if daily.region_id != nil %>
		<span>Country: <%= link_to region_select(daily.region_id), region_link_select(daily.region_id) %></span>
	<% end %>
	<% if daily.city_id != nil %>
		<span> | City: <%= link_to city_select(daily.city_id), city_link_select(daily.city_id) %></span>
	<% end %>
	<% if daily.attraction_id != nil %>
		<span> | Attraction: <%= link_to attraction_select(daily.attraction_id), attraction_link_select(daily.attraction_id) %></span>
	<% end %>
</p>
<p>
	<% if daily.post_id != nil %>
		<span>Article: <%= link_to post_select(daily.post_id), post_link_select(daily.post_id) %></span>
	<% end %>
</p>
<p>
<%# time_ago_in_words(daily.created_at) %>
	<% if daily.content != '' %>
		Content: <%= daily.content %>
	<% end %>
</p>

<% if user_signed_in? %>
	<% if @current_user.id == daily.user_id %>
	<p><%= link_to 'Delete',[daily.itinerary,daily], method: :delete, data: { confirm: 'Are you sure?' } %></p>
	<% end %>
<% end %>