<p id="notice"><%= notice %></p>

<h1>Regions</h1>

<br>
  <tbody>
    <% @regions.each do |region| %>
      <div class="card bg-light mt-3">
      <div class="card-body">
        <h3 class="card-title"><strong> <%= link_to region.name, region %> </strong></h3>
        <p class="card-text">
          <span class="postpreview">
          <%= truncate(Sanitize.fragment(region.intro), length: 100) %>
          </span>
        </p>

        <ul class="list-inline text-muted mt-2">
          <li class="list-inline-item">
           <span><%= region.localName %></span>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
           <span><%= link_to 'Show', region %></span>
          </li>
          <% if user_signed_in? %>
          <% if current_user.superadmin_role? %>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <span><%= link_to 'Edit', edit_region_path(region) %></span>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <span><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </li>
          <% end -%>
          <% end -%>
        </ul>
      </div>
      </div>
    <% end %>
  </tbody>

<br><br>
<% if user_signed_in? %>
<% if current_user.superadmin_role? %>
<p> <%= link_to "New Region", new_region_path, class: 'btn btn-primary active' %> </p>
<% end -%>
<% end -%>